<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pad Project</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/animations.css">
</head>

<body>
    <div class="welcomeAnimation spiral-leave-active">
        <div class="splitAnimation"></div>
        <div class="logo-container">
            <div class="clipPathAnim">
                <div class="clipActualPathAnim">
                    <p class="PADTxt">P</p>
                    <p class="PADTxt">A</p>
                    <p class="PADTxt">D</p>
                </div>
            </div>
        </div>
        <div class="projectTopicDiv">
            <div class="wrapper">
                <p id="downloadID"></p>
                <div class="txtScroller">
                    <span class="line"></span>
                    <br />
                    <span class="line">Audio</span>
                    <br />
                    <span class="line">or...</span>
                    <br />
                    <span class="line">Both</span>
                    <br />
                </div>
            </div>
            <p id="continuationID"></p>
        </div>
        <div class="madeByDiv">
            <p>Made by:</p>
            <p>Rtiscev Alexandru</p>
            <p>Reznicenco Nichita</p>
        </div>
    </div>

    <div class="mainContent">
        <div class="animationDiv">
            <canvas id="animationCanvas"></canvas>
        </div>
        <div class="titleDiv">
            <p>
                <span>Pad Project.</span>
                <br />Download Audio and Video
            </p>
        </div>
        <div class="mainDiv">
            <div class="enterUrlDiv">
                <input id="youtubeURL" placeholder="Paste YouTube Url (eg. https://www.youtube.com/watch?v=dQw4w9WgXcQ)" />
                <button onclick="GetInformation()">Start</button>
            </div>

            <div class="loadedDataDiv">
                <span class="loader">Loading</span>

                <div class="dataDiv dontShow">
                    <partial name="_YoutubeData"></partial>
                </div>
            </div>

            <div class="downloadingAnimationsDiv dontShow">
                <div id="animBI">
                    <span class="biloader"></span>
                </div>
                <span class="liloader"></span>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/typeWriter.js"></script>
    <script src="~/js/animation.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>